examples/test*
.vscode

Manifest.toml
/docs/Manifest.toml
/docs/build/

# Ignore large data files
simulations/*/*/*.jld2
test/test_data/*.jld2

# Benchmarking
simulations/Benchmark/output
simulations/Benchmark/Manifest.toml

# Testing
test_on_snellius.out
slurm-*
